{% load static %}
<link rel="stylesheet" href="{% static 'reviews/reply.css' %}" />

<div id="reply{{reply.id}}" class="reply">
    <div class="card-body text-left">
        <div class="row">
            <!-- Reply Main Content -->
            <div class="reply-body col-xs-12 col-md-12 col-lg-12 bg-light mb-3">
                <!-- Reply header content -->
                <div class="reply-header">
                  <div class="d-flex justify-content-between">
                    <h6 id="order">#{{reply_count}}</h6>
                    <h10 id="date" class="text-muted">{% if reply.created|date:"n/d/y" != reply.modified|date:"n/d/y" %} Edited {{ reply.modified|date:"n/d/y" }} • {% endif %}
                        {{ reply.created|date:"n/d/y" }} </h10>
                  </div>
                </div>

                <div class="reply-content mb-2">
                  <!-- Max-height container for the reply text collapse feature -->
                  <div class="reply-text-body collapse" id="replyText{{reply.id}}"
                     aria-expanded="false">
                     <!-- Full reply text -->
                      <form id="editReplyForm{{review.id}}" name="editReplyFormName{{reply.id}}" action="{% url 'edit_reply' reply_id=reply.id %}" method="POST">
                      {% csrf_token %}
                          <!-- Most of the attributes in this p tag are for when the text becomes editable in a textarea form -->
                        <p class="reply-text-full" id="editReplyField{{reply.id}}" name="text" minlength="10" maxlength="5000"
                        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' onfocus='this.style.height = this.scrollHeight + "px"'>{{ reply.text }}</p>
                          <!-- Hide save button until user clicks edit reply -->
                        <div align="right" id="saveReplyEdit{{reply.id}}" style="display: none">
                            <br>
                            <button type="submit" class="btn btn-primary mx-auto" id="saveReplyEditBtn{{reply.id}}">Save</button>
                        </div>
                      </form>
                  </div>

                  <!-- Collapser link (click target spans entire row block) -->
                  <a role="button" class="reply-collapse-link btn-block p-1 collapsed"
                     data-toggle="collapse" href="#replyText{{reply.id}}"
                     aria-expanded="false" aria-controls="replyText{{reply.id}}">
                     <!-- Note: collapser text ("See more...") is encoded in reply.css for this link -->
                  </a>
                </div>

                <div class="reply-footer row mt-3">
                    <!-- Reply upvote/downvote container -->
                    <div class="vote-container col-sm-4 d-flex align-items-end text-center text-muted flex-wrap">
                      <!-- Hidden HTML tag to sort reviews by helpfulness (net upvotes)-->
                      <span id="vote-count{{reply.id}}" hidden>{{ reply.sum_votes }}</span>
                      <div class="mr-3 mr-sm-4">
                          <!--Voting logic is implemented in the <script> tag of reviews.html-->
                          <a id="replyUpvote{{reply.id}}" href="#loginModal" data-toggle="modal"
                             class="replyUpvote {% if reply.user_votes == 1 %}active{% endif %}">
                              <i class="fa fa-thumbs-up"></i>
                          </a>
                      </div>
                      <div class="mr-3 mr-sm-4">
                          <a id="replyDownvote{{reply.id}}" href="#loginModal" data-toggle="modal"
                             class="replyDownvote {% if reply.user_votes == -1 %}active{% endif %}">
                              <i class="fa fa-thumbs-down"></i>
                          </a>
                      </div>
                    </div>
                    {% if user == reply.user %}
                    <div class="reply-ratings col-sm-8 d-flex align-items-end justify-content-end text-center text-muted flex-wrap mb-2">
                        <div class="reply-actions d-inline-flex">
                          <a class="reply-edit h5 px-2 text-tcf-blue" role="button" id="editReply{{reply.id}}" onclick="showEditReply({{reply.id}});">
                              <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="bottom" title="Edit Reply"></i>
                          </a>
                          <a class="reply-delete h5 pl-2 text-danger" type="button"
                                  data-toggle="modal" data-target="#deleteReplyModal{{reply.id}}">
                            <i class="fa fa-trash-o" data-toggle="tooltip" data-placement="bottom" title="Delete Reply"></i>
                          </a>
                          {% include "reviews/delete_reply_modal.html" with reply_id=reply.id review_id=review.id %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>