{% load static %}
<link rel="stylesheet" href="{% static 'reviews/reply.css' %}" />

<div id="reply{{reply.id}}">
    <div class="card-body text-left">
        <div class="row">
            <!-- Reply Main Content -->
            <div class="review-body col-xs-12 col-md-12 col-lg-12 bg-light mb-3">
                <!-- Reply header content -->
                <div class="review-header">
                  <div class="d-flex justify-content-between">
                    <h6 id="order" class="text-muted">#{{reply_count}}</h6>
                    <h6 id="date" class="text-muted">Updated {{ reply.modified|date:"n/d/y" }}</h6>
                  </div>
                </div>

                <div class="review-content mb-2">
                  <!-- Max-height container for the reply text collapse feature -->
                  <div class="review-text-body collapse" id="replyText{{reply.id}}"
                     aria-expanded="false">
                     <!-- Full reply text -->
                    <p class="review-text-full">{{ reply.text }}</p>
                  </div>
                  <!-- Collapser link (click target spans entire row block) -->
                  <a role="button" class="review-collapse-link btn-block p-1 collapsed"
                     data-toggle="collapse" href="#replyText{{reply.id}}"
                     aria-expanded="false" aria-controls="replyText{{reply.id}}">
                     <!-- Note: collapser text ("See more...") is encoded in reply.css for this link -->
                  </a>
                </div>

                <div class="review-footer row mt-3">
                    <!-- Reply upvote/downvote container -->
                    <div class="vote-container col-sm-4 d-flex align-items-end text-center text-muted flex-wrap">
                      <!-- Hidden HTML tag to sort reviews by helpfulness (net upvotes)-->
                      <span id="vote-count" hidden>{{ review.sum_votes }}</span>
                      <div class="mr-3 mr-sm-4">
                          <!--Voting logic is implemented in the <script> tag of reviews.html-->
                          <a id="upvote{{review.id}}" href="#loginModal" data-toggle="modal"
                             class="upvote {% if review.user_vote == 1 %}active{% endif %}">
                              <i class="fa fa-thumbs-up"></i>
                          </a>
                          <span class="upvoteCount">{{ review.count_votes.upvotes }}</span>
                      </div>
                      <div class="mr-3 mr-sm-4">
                          <a id="downvote{{review.id}}" href="#loginModal" data-toggle="modal"
                             class="downvote {% if review.user_vote == -1 %}active{% endif %}">
                              <i class="fa fa-thumbs-down"></i>
                          </a>
                          <span class="downvoteCount">{{ review.count_votes.downvotes }}</span>
                      </div>
                    </div>
                    {% if user == reply.user %}
                    <div class="review-ratings col-sm-8 d-flex align-items-end justify-content-end text-center text-muted flex-wrap mb-2">
                        <div class="review-actions d-inline-flex">
                          <a class="review-edit h5 px-2 text-tcf-blue" role="button" id="editReply{{reply.id}}" onclick="">
                              <i class="fas fa-pencil-alt"></i>
                          </a>
                          <a class="review-delete h5 pl-2 text-danger" type="button"
                                  data-toggle="modal" data-target="#deleteReplyModal{{reply.id}}">
                            <i class="fa fa-trash-o"></i>
                          </a>
                          {% include "reviews/delete_reply_modal.html" with reply_id=reply.id %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>