{% extends "base/base.html" %}
{% load static %}

{% block title %}My Reviews - theCourseForum{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'reviews/review_stats.css' %}" />
{% endblock %}

{% block content %}
<div class="my-reviews container mx-auto">
    <div class="my-reviews-header d-flex flex-sm-row flex-column mb-4">
        <h1 class="h2 mt-2 mb-0">My reviews</h1>
        <a class="ml-sm-auto mt-2 btn bg-tcf-orange text-white" href="{% url 'new_review' %}" >
            <i class="fa fa-pencil" aria-hidden="true"></i> New review
        </a>
    </div>
    {% include "reviews/review_stats.html" with total_reviews_written=total_reviews_written total_review_upvotes=total_review_upvotes average_review_rating=average_review_rating %}
    {% include "reviews/reviews.html" with reviews=user.reviews profile=True %}
    {% include "notifications/notification.html" with notifs=notifs %}
</div>
{% endblock %}
{% block js %}
<script>
jQuery.fn.highlight = function (milliseconds) {
    // Source: https://stackoverflow.com/a/13106698
    $(this).each(function () {
        var el = $(this);
        $("<div/>")
        .width(el.outerWidth())
        .height(el.outerHeight())
        .css({
            "position": "absolute",
            "left": el.offset().left,
            "top": el.offset().top,
            "background-color": "#ffff99",
            "opacity": ".7",
            "z-index": "9999999"
        }).appendTo('body').fadeOut(milliseconds).queue(function () { $(this).remove(); });
    });
}

function getReviewSelector(reviewId) {
    return `#review${reviewId}`;
}

$(document).ready(function() {
    const params = new URLSearchParams(document.location.search.substring(1));
    const reviewId = params.get("review_id");
    if (reviewId === null) return;
    const element = $(getReviewSelector(reviewId));
    if (element === null) return;
    $([document.documentElement, document.body]).animate({
        scrollTop: element.offset().top
    }, 500, function(){
        element.highlight(800);
    });
});
</script>
{% endblock js %}
