.reply-content .reply-text-body.collapse:not(.show) {
  display: block;
  height: 9rem;
  overflow: hidden;
}
.reply-content .reply-text-body.collapsing {
  height: 9rem;
}

.reply-content a.collapsed::after {
  content: '...See More';
  color: var(--secondary-color);
}

.reply-content a:not(.collapsed)::after {
  content: 'See Less';
  color: var(--secondary-color);
}

.reply .card-body {
  padding: 20px 30px;
}

.reply .replyUpvote, .reply .replyDownvote {
    font-size: 1.3rem;
    color: #aaa;
    cursor: pointer;
}

.reply .replyUpvote.active, .reply .replyUpvote:hover {
    color: dodgerblue;
}

.reply .replyDownvote.active, .reply .replyDownvote:hover {
    color: rgb(215, 86, 38);
}

.tooltip-inner {
  margin: 0;
}