{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'notifications/notifications.css' %}" />
{% endblock %}

<div class="my-reviews-header d-flex flex-sm-row flex-column mb-4">
    <h1 class="h2 mt-2 mb-0">My Notifications</h1>
    <button class="ml-sm-auto mt-2 btn bg-tcf-orange text-white" onClick="readAll()">
      Mark All As Read
    </button>
</div>

<div id="notifications">
</div>

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'notifications/notifications.js' %}"></script>
<script type="text/javascript">$(document).ready(getNotifs());</script>
{% endblock %}
